# Required
DATABASE_URL=postgresql://neondb_owner:npg_knGfqrA9Nj7e@ep-autumn-forest-b5rl0pjm-pooler.c-7.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SESSION_SECRET=P0GmPMZP24eu6d+oWB/9I9p3v5OuDSpUiKEX3UoY4B4=
# Optional
PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
SERVE_CLIENT=false
COOKIE_SAMESITE=lax
AUTO_MIGRATE=true
